/*******************************
General
*******************************/
body {
	font-family: Roboto,sans-serif;
	background-color: #008dc9;
}

/*******************************
Menu principal
*******************************/
.tooltip {
    z-index: 2000; /* A value higher than 1010 that solves the problem */
}
.loading {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.loading > img {
	width: 70px;
}
/*
.menu1 {background-color: #1174a1  !important; color: white !important;}
.menu2 {background-color: #0695d6 !important; color: white !important;}
.menu3 {background-color: #2aaad1 !important; color: white !important;}
.menu4 {background-color: #5bc0de !important; color: white !important;}
.menu5 {background-color: #008dc9 !important; color: white !important;}
*/
.panel-default > .panel-heading {
    background-color: #008dc9;
	color: white;
	font-size: 15px;
	font-weight: bold;
	
}
.panel-default > .panel-heading > .panel-title > a {
	font-size: 15px;
	font-weight: bold;
	
}
#sidebar-container{z-index: 1500; background-color: #008dc9 }
#sidebar .nav {border: 1px;}

.navbar-toggle .icon-bar{border: 1px solid #337ab7;} 
.navbar-header > button {display: block;}
.navbar {
  background-color: #008dc9;
}
.navbar-brand {
  padding-top: 7px;
}

.nav-sidebar > .active > a {
	background-color:   inherit !important
}
.navbar-header > a > img {
	width:50px;
	top:7px;
	position:absolute;
}
.nav-tabs {
    background-color: #008dc9;
    border-bottom: 1px solid #ddd;
}
.nav-tabs > .active {
    background-color: transparent !important;
}
.nav-tabs > li > a {
    color: white;
    border: 1px solid #ddd;
    padding: 5px 15px;
}
.nav-tabs > li > a:hover {
    color: #444444;    
}
.nav-tabs > li.active > a {
    background-color: #33b560 !important;
    color: white !important;
}
.tab-content {
    border: 1px solid #ddd;
}
.panel-heading {
    border-bottom: 1px solid white;
}
.active {
	background-color: #33b560 !important;
}
li.active > div > a {
	color: white !important;
}
.list-group-item.active {
	border-color: white;
}
.active-layers-counter {
  height: 20px;
  width: 20px;
  display: table-cell;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #33b560;
}
.item-group-short-desc {
	font-size: 11px;
	line-height: 11px;
}
.item-group-short-desc a {
	font-size: 11px;
	color: #dddddd;
}
.item-group-title {
	font-weight: bold;
	font-size: 15px;
}
.legend-layer {
	height: 20px;
	width: 0px;
	display: table-cell;
	font-size: 10px;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	float: right;
	padding-top: 2px;
	padding-right: 2px;
}
.capa-title {
	vertical-align:top;
	width:96%;
}
@media (max-width: 390px) {
	.tooltip {
		display: none !important;
	}
	.leaflet-control-minimap {
		display: none;
	}
	.leaflet-top.leaflet-right {
		display: none;
	}
	.navbar-header > a > img {
		left: 50px;
	}
}
@media (max-width: 768px) {
  .navbar-header a{font-size: 13px; font-weight: bold;}
}
@media (min-width: 992px) {
  #sidebar-container.collapse {height: 93% !important};
}
.wms-combobox-selector {
	width: 100%;
	height: 35px;
	margin: 10px 0px 10px 0px;
}

/*******************************
Searcher
*******************************/
::-ms-clear {
  display: none;
}
.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

/*******************************
JQuery Autocomplete
*******************************/
.ui-widget.ui-widget-content {
    z-index: 3000;
}

/*******************************
Login
*******************************/
.form-signin {
	width    : 100%;
	max-width: 330px;
	padding  : 15px;
	margin   : 0 auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position  : relative;
	box-sizing: border-box;
	height    : auto;
	padding   : 10px;
	font-size : 16px;
}

.form-signin .form-control:focus {
	z-index: 999;
}

.form-signin input[type="text"] {
	margin-bottom             : -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius : 0;
}

.form-signin input[type="password"] {
	margin-bottom          : 10px;
	border-top-left-radius : 0;
	border-top-right-radius: 0;
}

.top-right-btn {
	position: absolute;
	top     : 8px !important;
	right   : 10px;
}