.menu1 {background-color: #1174a1  !important; color: white !important;}
.menu2 {background-color: #0695d6 !important; color: white !important;}
.menu3 {background-color: #2aaad1 !important; color: white !important;}
.menu4 {background-color: #5bc0de !important; color: white !important;}
.menu5 {background-color: #008dc9 !important; color: white !important;}
#sidebar-container{z-index: 1500;} 
#sidebar .nav {border: 1px;}
.nav-sidebar { /*ancho de selector de capas */
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px;
}
.navbar-toggle .icon-bar{border: 1px solid #337ab7;} 
.navbar-header > button {display: block;}
@media (min-width: 992px) {
  #sidebar-container.collapse {display: inherit !important; height: 100% !important};
}
@media (max-width: 768px) {
  .navbar-header a{font-size: 13px; font-weight: bold;}
}
@media (max-width: 390px) {
  .xxsmall-hide {display: none};
}
.navbar {
  background-color: #008dc9;
}
.navbar-brand {
  padding-top: 7px;
}

.nav-sidebar > .active > a {
	background-color:   inherit !important
}
.active {
	background-color: #33b560 !important;
}
.list-group-item.active {
	border-color: white;
}
.active-layers-counter {
  height: 20px;
  width: 20px;
  display: table-cell;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #33b560;
}