.message-container {
    width: 420px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    z-index: 1500;
    box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
    cursor: default;
}
.message-text {
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
}
.message-close-btn {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin: 0;
    padding: 0;
    margin-top: 1px;
    cursor: pointer;
    background-image: url(../../../styles/images/close.png);
    background-size: 45% 45%;
    background-repeat: no-repeat;
    background-position: center;
} 
.message-close-btn:hover {
    background-color: white !important;
    border: solid 1px black;
}
 
@media (max-width: 769px) {
    .message-container {
        width: 100%;
    }
}
