.message-container {
    width: 420px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    z-index: 1500;
    box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
    cursor: default;
}
.message-text {
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
}
.message-close-btn {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.15em;
    margin: 0;
    cursor: pointer;
}
.message-close-btn:hover {
    background: white;
    color: black !important;
    border: solid 1px black;
}
