#nav-help-btn {
  width: auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 4px;
  margin: 0;
  margin-left: 3px;
}
#nav-help-btn svg {
  fill: var(--btn-secondary-color);
}
#nav-help-btn svg:hover {
  fill: var(--btn-hover-color);
}