  #pdfPrinter :hover {
    background-color: #f5f4f4;
    cursor: pointer;
  }

  #pdfPrinter :active {
    background-color: grey;
  }

  #iconPDF-container {
    height: 100%;
    width: 100%;
    flex: 3;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    font-size: 17px;
  }

  #iconPDF {
    color: #252525;
  }