<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="https://sig.se.gob.ar/wmspubmap"
                   matchAll="true"/>
        <serverUrl url="http://sig.planificacion.gob.ar/layers/public_wxs"
                   matchAll="true"/>
        <serverUrl url="http://mapa.educacion.gob.ar/geoserver"
                   matchAll="true"/>
        <serverUrl url="https://ide.transporte.gob.ar/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="https://geoservicios.indec.gob.ar/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="https://mapa.educacion.gob.ar/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="http://geo2.ambiente.gob.ar/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="https://geoadmin.agroindustria.gob.ar/geoserver/geoservicios/wms"
                   matchAll="true"/>
        <serverUrl url="https://geoadmin.agroindustria.gob.ar/geoserver/agroindustria/wms"
                   matchAll="true"/>
        <serverUrl url="http://ide.agroindustria.gob.ar/geoserver/agroindustria"
                   matchAll="true"/>
        <serverUrl url="http://sig.segemar.gov.ar/wms"
                   matchAll="true"/>
        <serverUrl url="https://aswe.santafe.gov.ar/idesf/wms"
                   matchAll="true"/>
        <serverUrl url="http://idet.tucuman.gob.ar:80/geoserver/idet/wms"
                   matchAll="true"/>
        <serverUrl url="http://ideneu.neuquen.gov.ar:8080/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="http://idemza2.mendoza.gov.ar:80/geoserver/IDEMendoza/wms"
                   matchAll="true"/>
        <serverUrl url="http://idef.formosa.gob.ar/servicios/wms"
                   matchAll="true"/>
        <serverUrl url="http://www.catastro.chubut.gov.ar/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="http://idelp.lapampa.gob.ar/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="http://geoportal.idesa.gob.ar/geoserver/wms"
                   matchAll="true"/>
        <serverUrl url="http://geo.arba.gov.ar/geoserver/idera/wms"
                   matchAll="true"/>
                   
                   
        <serverUrl url="http://cartoservices.arba.gov.ar/geoserver/cartoservice/wms" matchAll="true"/>
        <serverUrl url="http://ide.agroindustria.gob.ar/geoserver/agroindustria/ows" matchAll="true"/>
        <serverUrl url="http://geo2.ambiente.gob.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://aicsig.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://www.bahra.gob.ar/geoserver/bahra/ows" matchAll="true"/>
        <serverUrl url="https://metadatos.estadisticaciudad.gob.ar/geonetwork" matchAll="true"/>
        <serverUrl url="http://ambiente.caearte.conae.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://geoservicios.conae.gov.ar/geoserver/Landsat8/wms" matchAll="true"/>
        <serverUrl url="http://dengue.caearte.conae.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://atmgis.mendoza.gov.ar/geoserver/cartografia/wms" matchAll="true"/>
        <serverUrl url="http://catastro.chubut.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="https://metadatos.estadisticaciudad.gob.ar/geonetwork/srv/spa/csw" matchAll="true"/>
        <serverUrl url="https://idecaba.estadisticaciudad.gob.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://sigdefensacivil.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://www.dpijujuy.gob.ar/catalogue/csw" matchAll="true"/>
        <serverUrl url="http://www.dpijujuy.gob.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://geodesia.neuquen.gov.ar:8080/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://visualide.sanluis.gov.ar/geonetwork/" matchAll="true"/>
        <serverUrl url="http://visualide.sanluis.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://gisestadisticanqn.neuquen.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://redvial.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://181.88.186.115:8080/geoserver/servidor/wms" matchAll="true"/>
        <serverUrl url="http://idet.tucuman.gob.ar/geoserver/Dir_Prov_Vialidad/wms" matchAll="true"/>
        <serverUrl url="http://geoserver.sgis.com.ar/geoserver/dgc_sj/wms" matchAll="true"/>
        <serverUrl url="http://visualcatsl.dyndns.info/geoserver/SanLuis/wms" matchAll="true"/>
        <serverUrl url="http://ide.ebisa.com.ar/geonetwork/" matchAll="true"/>
        <serverUrl url="http://ide.ebisa.com.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://idechaco.gob.ar/geonetwork/" matchAll="true"/>
        <serverUrl url="http://idechaco.gob.ar/geoserver/IDEChaco/wms" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://geoportal.cba.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://ide.estadistica.chubut.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://dami.tucuman.gov.ar/ArcGIS/services/DAMI_Ambiental/MapServer/WMSServer" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://geobasig.com.ar/geoserver29/ows" matchAll="true"/>
        <serverUrl url="http://www.geosplan.tucuman.gob.ar/geonetwork/" matchAll="true"/>
        <serverUrl url="http://geosplan.tucuman.gob.ar/geoserver/SGPyP/wms" matchAll="true"/>
        <serverUrl url="http://ideconurbano.ungs.edu.ar/catalogue/csw" matchAll="true"/>
        <serverUrl url="http://200.43.169.149/catalogue/csw" matchAll="true"/>
        <serverUrl url="http://200.43.169.149/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://ideconurbano.ungs.edu.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://geoportal.corrientes.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://geoportal.corrientes.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://idef.formosa.gob.ar/metadatos" matchAll="true"/>
        <serverUrl url="http://idemza2.mendoza.gov.ar/geonetwork" matchAll="true"/>
        <serverUrl url="http://idemza2.mendoza.gov.ar/geoserver/IDEMendoza/wms" matchAll="true"/>
        <serverUrl url="http://idemindef.ign.gob.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://csw.moreno.gob.ar:8080/geonetwork" matchAll="true"/>
        <serverUrl url="http://mapas.moreno.gob.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://catalogo.neuquen.gov.ar:8080/geonetwork" matchAll="true"/>
        <serverUrl url="http://ide.pergamino.gob.ar:8080/geonetwork/" matchAll="true"/>
        <serverUrl url="http://ide.pergamino.gob.ar:8080/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://ide.extranet.rionegro.gov.ar//catalogue/csw" matchAll="true"/>
        <serverUrl url="http://ide.extranet.rionegro.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://idet.tucuman.gob.ar/geonetwork3/" matchAll="true"/>
        <serverUrl url="http://idet.tucuman.gob.ar/geoserver/idet/wms" matchAll="true"/>
        <serverUrl url="http://idemindef.ign.gob.ar/catalogue/csw" matchAll="true"/>
        <serverUrl url="http://idelp.lapampa.gob.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://geoportal.idesa.gob.ar/catalogue/csw" matchAll="true"/>
        <serverUrl url="http://geoportal.idesa.gob.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://geoservicios.indec.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://geointa.inta.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://geointa.inta.gov.ar/geoserverLP/wms" matchAll="true"/>
        <serverUrl url="http://sipan.inta.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://wms.sig-ctes.inta.gob.ar/geocorrientes/wms" matchAll="true"/>
        <serverUrl url="http://wms.geointa.inta.gob.ar/geocordoba/wms" matchAll="true"/>
        <serverUrl url="http://geointa.inta.gob.ar/geoparana/wms" matchAll="true"/>
        <serverUrl url="http://geointa.inta.gov.ar/geoserversf/wms" matchAll="true"/>
        <serverUrl url="http://geosalta.inta.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://geointa.inta.gob.ar/geosantiago/wms" matchAll="true"/>
        <serverUrl url="http://rides.producciontucuman.gov.ar/ArcGIS/services/ImagenesMDP/mapserver/WMSServer" matchAll="true"/>
        <serverUrl url="https://www.santafe.gov.ar/idesf/catalogo/" matchAll="true"/>
        <serverUrl url="https://aswe.santafe.gov.ar/idesf/wms" matchAll="true"/>
        <serverUrl url="http://wms.ign.gob.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://geoservicios.indec.gov.ar/geonetwork/" matchAll="true"/>
        <serverUrl url="http://170.210.123.219/catalogue/csw" matchAll="true"/>
        <serverUrl url="http://170.210.123.219/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://190.226.54.180:8080/geoserver/IPVyDU/wms" matchAll="true"/>
        <serverUrl url="http://www.mapaeducativo.edu.ar/geoserver/ogc/ows" matchAll="true"/>
        <serverUrl url="http://mapaescolar.dyndns.org/geoserver/mapa/ows" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://web2.desarrollosocialtuc.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://sigproduccion.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://sigcap.no-ip.org:8082/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://opticgis.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://pirna.com.ar:8080/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://200.85.183.85:8084/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://rides.producciontucuman.gov.ar/ArcGIS/services/Choromoro/MapServer/WMSServer" matchAll="true"/>
        <serverUrl url="http://rides.producciontucuman.gov.ar/ArcGIS/services/RIDES_WMS/MapServer/WMSServer" matchAll="true"/>
        <serverUrl url="http://rechidr.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://www.rosario.gov.ar/wms/planobase" matchAll="true"/>
        <serverUrl url="http://mapa.sedronar.gov.ar/catalogue/csw" matchAll="true"/>
        <serverUrl url="http://mapa.sedronar.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="https://geonode.senasa.gob.ar/catalogue/csw" matchAll="true"/>
        <serverUrl url="https://geonode.senasa.gob.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://ideneu.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://www.mosp.gba.gov.ar/sig_hidraulica/ms/geoserver/dpohwms/wms" matchAll="true"/>
        <serverUrl url="http://geoeducacion.neuquen.gov.ar/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://sigraster.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://smandes.neuquen.gov.ar:8080/geoserver/ows" matchAll="true"/>
        <serverUrl url="http://ide.se.gov.ar/geonetwork/" matchAll="true"/>
        <serverUrl url="http://sig.se.gob.ar/wmsenergia" matchAll="true"/>
        <serverUrl url="http://www.ide.misiones.gov.ar/cgi-bin/mapserv" matchAll="true"/>
        <serverUrl url="http://uedptucuman.dyndns.org/geonetwork/" matchAll="true"/>
        <serverUrl url="http://rides.producciontucuman.gov.ar/ArcGIS/services/Lules/MapServer/WMSServer" matchAll="true"/>
        <serverUrl url="http://rides.producciontucuman.gov.ar/ArcGIS/services/TafidelValle/MapServer/WMSServer" matchAll="true"/>
        <serverUrl url="http://www.energianeuquen.gov.ar:38080/geoserver/hidrocarburos/wms" matchAll="true"/>
        <serverUrl url="http://www.energianeuquen.gov.ar:38080/geoserver/mineria/wms" matchAll="true"/>
        <serverUrl url="http://copadesvr02.copade.neuquen.gov.ar/geoserver/wms" matchAll="true"/>
        <serverUrl url="http://sig.planificacion.gob.ar/layers/public_wxs/" matchAll="true"/>
        <serverUrl url="http://sig.gobierno.gba.gov.ar/geoserver/urbasig/wms" matchAll="true"/>
        <serverUrl url="http://170.210.123.219/geoserver/ows" matchAll="true"/>
                   
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
