#hideBtnLeft,
#hideBtnRight {
  box-shadow: none !important;
}

#sidebar-toolbar-icon-left,
#sidebar-toolbar-icon-right {
  width: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

#sidebar-toolbar-span {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

div #sidebar-toolbar-icon-left:hover,
div #sidebar-toolbar-icon-right:hover {
  width: 26px;
  background: rgba(0, 0, 0, 0.4);
}


@media (max-width: 768px) {
  #hideBtnLeft {
    top: -10px !important;
    left: 26px !important;
  }
}

@media (max-width: 600px) {
  #hideBtnLeft {
    top: -15px !important;
    left: 15px !important;
  }

  #hideBtnRight {
    top: 5px !important;
    right: 36px;
  }
}