div.leaflet-bar.leaflet-control:has(#sidebar-toolbar-icon-left,
  #sidebar-toolbar-icon-right) {
  box-shadow: none !important;
}

#sidebar-toolbar-icon-left,
#sidebar-toolbar-icon-right {
  width: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

#sidebar-toolbar-span {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

div #sidebar-toolbar-icon-left:hover,
div #sidebar-toolbar-icon-right:hover {
  width: 26px;
  background: rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {

  div.leaflet-bar.leaflet-control:has(#sidebar-toolbar-icon-left) {
    top: -15px !important;
    left: 15px !important;
  }
  
  div.leaflet-bar.leaflet-control:has(#sidebar-toolbar-icon-right) {
    top: 5px !important;
    right: 36px !important;
  }
}

/*
@media (max-height: 400px) {
  #sidebar-toolbar-icon-left {
    top: 34px;
    left: 36px;
  }

  #sidebar-toolbar-icon-right {
    top: 5px;
    right: 36px;
  }
}

@media (max-height: 500px) {
  #sidebar-toolbar-icon-left {
    top: 34px;
    left: 36px;
  }

  #sidebar-toolbar-icon {
    top: 40px;
    left: 40px;
  }

  #sidebar-toolbar-icon-right {
    top: 5px;
    right: 36px;
  }
}
*/
@media (max-width: 600px) {
}