<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form id="loginForm" class="modal-content form-signin">
      <div class="formHeader">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <img class="mb-4" src="src/styles/images/noimage.webp" alt="" width="72" height="72">
        <h2 class="modal-title">Iniciar sesión</h2>
      </div>
      <div class="form-group">
        <label for="name" class="sr-only">Nombre de cuenta</label>
        <input type="text" id="name" class="form-control" placeholder="Nombre de cuenta" required autofocus>
      </div>
      <div class="form-group">
        <label for="pwd" class="sr-only">Contraseña</label>
        <input type="password" id="pwd" class="form-control" placeholder="Contraseña" required>
      </div>
      <div class="form-group">
        <label for="newPwd" class="sr-only">Nueva contraseña</label>
      </div>
      <button id="submit" class="ui-btn btn-lg ui-btn-primary btn-block" type="submit">Ingresar</button>
      <button id="resetPwd" class="ui-btn btn-lg ui-btn-primary btn-block" type="submit">Modificar contraseña</button>
    </form>
  </div>
</div>