.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-logout {
    position: absolute;
    flex-direction: column;
    width: 34px;
    height: 34px;
    color: black;
    font-size: 1.1em;
    bottom: 100px;
    left: 10px;
    z-index: 99999;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.btn-logout :hover {
    background-color: #f5f4f4;
}

.btn-logout :active {
    background-color: grey;
}

#icon-container {
    height: 100%;
    width: 100%;
    flex: 3;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
}

@media (max-width: 600px) {
    .btn-logout {
        right: 1px;
    }
}

@media (max-height: 500px) {
    .btn-logout {
        top: 124px;
        left: 34px;
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 600px) {
    .btn-logout {
        bottom: 200px;
        left: 2px;
        /* border: 2px solid rgba(0, 0, 0, 0.2) !important; */
    }
}