@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');
@import url('https://fonts.cdnfonts.com/css/tiresias-pcfont');
#accessibility {
  overflow: auto;
  position: relative;
  margin: 0.5rem;
  max-height: 80vh;
  border: 0;
  border-radius: 6px;
  max-width: 320px;
}
.accessibility-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffffbb;
  color: black;
  box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
  border-radius: 6px;
  text-align: center;
}
.accessibility-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.accessibility-btn {
  width: 120px;
    height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.accessibility-btn h5 {
  text-align: center;
}
.accessibility-icon {
  font-size: x-large;
}
.invert-colors {
  filter: invert(1);
  overflow: hidden;
}
.grey-colors {
  filter: grayscale(1);
  overflow: hidden;
}
.saturation-colors-low {
  filter: saturate(0.5);
}
.saturation-colors-high {
  filter: saturate(2);
}
.readable-font {
  font-family: "Lexend", sans-serif !important;
  }
  .dyslexic-font {
    font-family: 'Open-Dyslexic', sans-serif;
  }
  .tiresias-font {
    font-family: "Tiresias PCfont", sans-serif !important;
}
.font-size18 {
  font-size: 18px;
}
.font-size20 {
  font-size: 20px;
}
.uppercase-text {
  text-transform: uppercase !important;
}