:root {
    --border-width: 2px;
    --border-width-tab: 2px 2px 0px 2px;
}

.especificamenteparaesto{
    height: 100px;
    width: 100px;
}

.justAnIdea{
    border: solid red;
    width: 200px;
    height: 50px;
    display: flex;
}

.map-item-button{
    color: #3174BF;
    background-color: #1a4570;
}

.imagenClaseSinImaginacion{
    height: 50px; 
    width: auto;
}
.outLinedos{
    height: 30px;
    border: 1px solid blue;
}
.outLine{
    height: 63%;
    width: 20px;
    border: 1px solid red;
}


#whole-about {
    overflow: hidden;
    border-radius: 12px;
    z-index: 5000;
    padding: 10px;
    background-color: white !important;
    position: absolute;
    top: 1%;
    left: 33%;
    -moz-box-shadow: inset 0 0 10px #000000;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: 95vh;
}
.content-about-tab {
    height: 100%;
    color: #000000;
    border: solid #3174BF;
    border-radius: 10px;
    border-width: var(--border-width);
    /*     background: white; */
    overflow: auto;
}
.about-header {
    display: flex;
    justify-content: space-between;
}
.about-logo {
    display: flex;
    width: 300px;
    margin-left: 25%;
}
/*.about-exit {}*/
.about-main-section {
    display: flex;
    flex-direction: column;
}
.about-tabs-bar {
    margin-top: 3%;
    display: flex;
}
.tab {
    position: relative;
    user-select: none;
    cursor: pointer;
    margin-left: 4%;
    padding: 10px;
    padding-top: 0.25%;
    padding-bottom: 0%;
    color: #3174BF;
    border: solid #3174BF;
    border-radius: 10px 10px 0px 0px;
    border-width: var(--border-width-tab);
}
.tab:hover {
    transition: 200ms;
    color: #FFFFFF;
    border: solid #3174BF;
    border-width: var(--border-width-tab);
    background-color: #3174BF;
}
.tab-active {
    color: #FFFFFF;
    border: solid #3174BF;
    border-width: var(--border-width-tab);
    background-color: #3174BF;
}
.tab-onclik {
    color: #FFFFFF;
    border: solid #3174BF;
    border-width: var(--border-width-tab);
    background-color: #3174BF;
}
.readme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-function-div {
    display: flex;
    color: #252525;
    padding-left: 15px;
    justify-content: flex-start;
}
.all-function-div li {
    max-width: 95%;
    list-style-type: none;
}
.even-function {
    background-color: #d0e7f1;
}
/*
.contributor-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    overflow-x: hidden;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 5px;
}
.contributor-card {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #3074BA;
    border-radius: 6px;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    width: 90%;
    height: 50px;
    font-size: 11px;
}
.contributor-card:hover {
    background-color: #1a4570;
    transition: 200ms;
}
.contributor-img {
    border-radius: 4px;
    object-fit: cover;
    width: 40px;
}
.contributor-user {
    margin-top: 10px;
    margin-left: 2px;
    color: white;
} */
#link-to-repo {
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 8px;
    width: 170px;
    background-color: #3174BF;
    padding-top: 3px;
    margin-bottom: 3px;
}
#link-to-repo:hover {
    background-color: #1a4570;
    transition: 200ms;
}
.content-about-deactivate {
    display: none;
}
.notification-dot {
    position: absolute;
    bottom: 85%;
    left: 80%;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 0, 0, 0.85);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.new-function {
    background-color: rgba(255, 0, 0, 0.85);
    color: white;
}
/* WebKit - Browser */
.content-about-tab::-webkit-scrollbar-track {
    display: none;
    border-radius: 5px;
}
.content-about-tab::-webkit-scrollbar {
    width: 7px;
}
.content-about-tab::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #F29707;
    border-right: 1px solid #ffffff;
}
@media (max-width: 916px) {
    #whole-about {
        width: 50%;
        right: 50%;
    }
    .about-logo {
        width: 260px;
        margin-left: 15%;
    }
    .tab {
        margin-left: 11px;
    }
}
@media (max-width: 766px) {
    #whole-about {
        width: 50%;
        left: 26%;
    }
}
@media (max-width: 670px) {
    #whole-about {
        left: 23%;
    }
    .about-logo {
        width: 80%;
        margin-left: 0;
    }
    .tab {
        font-size: 12px;
        margin-left: 9px;
        padding: 2px;
    }
}
@media (max-width: 464px) {
    #whole-about {
        width: 75%;
        left: 12%;
    }
    /*
    .contributor-img {
        width: 35px;
    }
    */
    .tab {
        margin-left: 7px;
    }
    .about-logo {
        width: 80%;
    }
}