


.about-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    /*justify-content: space-between;*/
}

.about-logo {
    z-index: 1100;
    min-width: 90%;
    transform: translate(4%, 0%);
}

.about-exit {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    
    z-index: 1200;
    min-width: 1%;
    max-width: 4%;
}

.about-main-section{
    
   
    display: flex;
    
    flex-direction: column;
}

.about-tabs-bar{



    min-width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   

}

.tab-prueba{
    
    font-family: monospace; /*revisar*/
    
    user-select: none;
    cursor :pointer;
    padding: 0.5%;
    padding-bottom: 0%;
    color: #37BBED;
    border: solid #94D6E9;
    border-radius: 10px 10px 0px 0px;
    border-width: 3px 3px 0px 3px; 
    
}

.tab-prueba:hover{

    color: #FFFFFF;
    border: solid #37BBED;
    border-width: 3px 3px 0px 3px;
    background-color: #37BBED;
    
    
}

.tab-active{

    color: #FFFFFF;
    border: solid #37BBED;
    border-width: 3px 3px 0px 3px;
    background-color: #37BBED;
    
}

.tab-onclik{

    color: #FFFFFF;
    border: solid #37BBED;
    border-width: 3px 3px 0px 3px;
    background-color: #37BBED;
    
    
}


.content-about-tab{
    height: 250px;

    
    color: #37BBED;
    border: solid #94D6E9;
    border-radius: 10px;
    border-width: 3px; 
    
    background: white;
    overflow: auto; 
}


.divC-temp{
    display: flex;
    flex-wrap: wrap;
}


.content-about-deactivate{

    display: none;

    
}

.all-function-div{

    color: #000000;
    padding-left: 15px;

}

.even-function{
    background-color: #94D6E9;
}




#whole-about {

    overflow: hidden;
    float: none;
    border-radius: 6px;
    z-index: 1000;
    padding: 8px 12px;
    background-color: white !important;
    position: absolute;
    top: 15%;
    margin-bottom: 10px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;


    /*left: 10%;*/
}



.temp-card{
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #37BBED;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    

}

.temp-card:hover{
    background-color: #1a4570;
    transition: 200ms;

}

.temp-img{

    border-radius: 25px;
    object-fit: cover;
    width : 90%;
    

}

.temp-user{

    margin-top: 3px;

}












/* Small devices (landscape phones, 576px and up) */
@media (min-width: 670px) {
    #whole-about {
        background-color: yellow !important;
        width: 60%;
        left: 21%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #whole-about {
        background-color: blue !important;
        width: 50%;
        left: 37%;
    }
}

/* Large devices (tablets, 768px and up)  */
@media (min-width: 992px) {
    #whole-about {
        background-color: red !important;
        width: 40%;
        left: 43%;
    }
}

@media (min-width: 1260px) {
    #whole-about {
        background-color: white !important;
        width: 43%;
        left: 40%;
    }

}