#containergraphics{
  width: 500px;
  max-height: 400px;
	overflow: hidden;
	text-align: right;
	float: none;
	border-radius: 8px;
	z-index: 1200;
	border: 3px;
	padding: 5px;
	background-color: white;
	flex-flow: column;
	left: 300px;
	top: 100px;
	position: absolute;
	margin-bottom: 10px; 
	-moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;

	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#icons-d3{
	cursor: move;
}

div#layout {
  text-align: center;
}

div#container {
  width: 500px;
  max-height: 400px;
  margin: auto;
  background-color: #2F4A6D;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 12px;
  fill: #2F4A6D;
}

text.value {
  font-size: 12px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 12px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

@media (max-width: 812px) {
	#containergraphics{
		left: 45px ;
		top: 50px ;
		max-width: 400px;
  }

  div#container {
    max-width: 300px;
  }
  #svgd3{
    max-width: 300px;
  }
  
}


@media (max-width: 768px) {
	#containergraphics{
		left: 45px ;
		top: 50px ;
		max-width: 400px;
  }

  div#container {
    max-width: 300px;
  }
  #svgd3{
    max-width: 300px;
  }
  
}
@media (max-width: 600px) {
	#containergraphics{
		left: 45px ;
		top: 50px ;
		max-width: 300px;
  }
  div#container {
    max-width: 300px;
  }
  #svgd3{
    max-width: 300px;
  }

}

@media (max-width: 480px) {
	#containergraphics{
		left: 45px ;
		top: 50px ;
		max-width: 300px;
	}
  div#container {
    max-width: 250px;
  }
  #svgd3{
    max-width: 250px;
  }
}

@media (max-width: 360px) {
	#containergraphics{
		left: 45px ;
		top: 50px ;
		max-width: 250px;
  }
  
  div#container {
    max-width: 250px;
  }

  #svgd3{
    max-width: 200px;
  }
 
}

@media (max-height: 480px) {
	#containergraphics{
		left: 45px ;
		top: 50px ;
	  max-height: 300px;
  }
  
  div#container {
    max-height: 300px;
  }

  #svgd3{
    max-height: 300px;
  }
}

@media (max-height: 420px) {
	#containergraphics{
		max-height: 250px;
  }
  
  div#container {
    max-height: 250px;
  }

  #svgd3{
    max-height: 250px;
  }

}

@media (max-height: 360px) {
	#containergraphicsl{
		left: 45px ;
		top: 50px ;
		max-height: 200px;
  }
  
  div#container {
    max-height: 200px;
  }

  #svgd3{
    max-height: 200px;
  }
}

@media (max-height: 320px) {
	#containergraphicsl{
		left: 45px ;
		top: 50px ;
		max-height: 150px;
  }
  
  div#container {
    max-height: 150px;
  }

  #svgd3{
    max-height: 150px;
  }
}