@media (max-width: 768px) and (orientation: portrait){
  #searchbar  {
    left: 50px;
    top: 5px;
    max-width: 250px;
    max-height: 300px ;
  }

 #top-left-logo {
  left: 50px;
  background-size: 180px;
 }
  
}

@media (max-width: 768px) and (orientation: landscape){
  #searchbar  {
    left: 50px ;
    top: 5px ;
    max-width: 300px ;
    max-height: 300px ;
  }

  #top-left-logo {
    left: 250px ;
  }
}

@media (min-width: 769px) {
  #searchbar {
    max-width: 300px;
  }
}