@media (max-width: 768px) and (orientation: portrait){
 #top-left-logo {
  left: 50px;
  background-size: 180px;
 }
  
}

@media (max-width: 768px) and (orientation: landscape){

  #top-left-logo {
    left: 250px ;
  }
}
