/* .modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
} */
.modalHeader h4 {
  color: var(--menu-title-text-color);
  font-weight: 600;
}
/* .modalCloseButton {
  background: none;
  border: none;
} */
.modalMainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modalNav {
  display: flex;
  flex-direction: row;
}
.modalNavButton {
  margin-right: 0;
/*   background: none;
  border: 1px solid #37bbed;
  border-radius: 4px;
  color: #37bbed;
  padding: 6px;
  margin-bottom: 6px;
  margin-right: 6px; */
}
.modalNavButton:hover img, .modalNavButtonActive img {
  filter: contrast(0%) brightness(200%);
}
.modalNavButtonActive {
  background: var(--secondary-color);
  color: white;
}
.modalContent {
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  background-color: #ffffffbb;
}
.actionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.disableAction {
  display: none;
}
#loadLayersModal {
  overflow: hidden;
/*   float: none;
  border-radius: 6px;
  z-index: 1200;
  padding: 8px 12px;
  background-color: white !important; */
  width: auto;
}
#loadLayersButtonContent>img {
  opacity: 0.9;
}
/* #loadLayersButtonContent {
  height: 100%;
  width: 100%;
  flex: 4;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  border-color: #cccccc;
} */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 670px) {
  /*   #loadLayersModal {
    width: 60%;
    left: 30%;
  } */
/*   .modalMainSection {
    width: 100%;
    display: flex;
    flex-direction: row;
  } */
 /*  .modalNav {
    display: flex;
    flex-direction: column;
  } */
  /*.modalNavButton {
     margin-right: 0; 
  }*/
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*   #loadLayersModal {
    width: 50%;
    left: 30%;
  } */
}
/* Large devices (tablets, 768px and up)  */
@media (min-width: 992px) {
  /*   #loadLayersModal {
    width: 40%;
    left: 30%;
  } */
}