.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.modalHeader h4 {
  margin: 0;
  color: #37bbed;
}

.modalCloseButton {
  background: none;
  border: none;
}

.modalMainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalNav {
  display: flex;
  flex-direction: row;
}

.modalNavButton {
  background: none;
  border: 1px solid #37bbed;
  border-radius: 4px;
  color: #37bbed;
  padding: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.modalNavButton img {
  filter: none;
}

.modalNavButtonActive img {
  filter: contrast(0%) brightness(200%);
}

.modalNavButtonActive {
  background: #37bbed;
  color: white;
}

.modalContent {
  border: 1px solid #37bbed;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
}

.disableAction {
  display: none;
}

#loadLayersModal {
  overflow: hidden;
  float: none;
  border-radius: 6px;
  z-index: 1200;
  border: 3px;
  padding: 8px 12px;
  background-color: white;
  top: 100px;
  position: absolute;
  margin-bottom: 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
  left: calc(100% / 5);
}

#loadLayersButton {
width: 34px;
height: 34px;
}

#loadLayersButton:hover {
  background-color: #f4f4f4;
}

#loadLayersButtonContent {
  height: 100%;
  width: 100%;
  flex: 4;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  border-color: #cccccc;
}

/* Remove loadLayersButtonContent div/icon for media  print*/
@media print {
  #loadLayersButtonContent {
    display: none !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) {

  #loadLayersModal {
    width: 56%;
    left: calc(100% / 4);
  }

  .modalMainSection {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .modalNav {
    display: flex;
    flex-direction: column;
  }

  .modalNavButton {
    /* margin-right: 0; */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 800px) {
  #loadLayersModal {
    width: 50%;
  }
}

/* Large devices (tablets, 768px and up) */
@media (min-width: 992px) {
  #loadLayersModal {
    width: 34%;
    left: calc(100% / 2.5);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #loadLayersModal {
    width: 34%;
    left: calc(100% / 2.4);
  }
}

@media (max-width: 768px) {
  /* #loadLayersModal {
    left: 45px;
    top: 50px;
    max-width: 700px;
  } */

}

@media (max-width: 600px) {
  /* #loadLayersModal {
    left: 45px;
    top: 50px;
    max-width: 580px;
  } */
}

@media (max-width: 480px) {
  /* #loadLayersModal {
    left: 45px;
    top: 50px;
    max-width: 300px;
  } */
}

@media (max-width: 360px) {
  /* #loadLayersModal {
    left: 45px;
    top: 50px;
    max-width: 250px;
  } */
}