/*******************************
Personalizado
*******************************/
body {
  font-family: "Titillium Web", sans-serif;
  background-color: #b1c926 !important;
}

a {
  color: #606820;
}
a:hover {
  color: #606820;
}

.item-group-short-desc a {
  color: #ffffff;
}

.navbar {
  background-color: #b1c926 !important;
}

#sidebar-container {
  background-color: #b1c926 !important;
}

.menu5 .panel-heading {
  background-color: #b1c926 !important;
}

.active {
  background-color: #606820 !important;
}

.active-layers-counter {
  background-color: #606820;
}

#top-left-logo {
  width: 470px;
}

.navbar-header > a > img {
  width: 134px;
}
