.input_newname{
  height: 20px !important;
}
.name{
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-times-circle{
  font-size: 20px;
}

.fa-times-circle:hover{
  color:#e37d7b;
}
.icon_close_mf{
  color:silver ;
  font-size:16px !important;
  cursor:pointer
}
.icon_close_mf:hover{
  color:#73CFF2;
}

.modal-file-delete{
  top:25%;
  background-color:white;
  width:300px;
  max-height:350px;
  position: absolute;
  z-index:2000;
  border-radius: 8px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}



.modal-file-delete-body{
  font-family: Poppins, sans-serif;
  text-align: center;
  cursor: default;
  margin: 10px 10px 30px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-layer-container:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.file-layer-container:last-child{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.file-layer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 10px 1px 10px 1px; 
  border:1px solid #ddd;
	background-color: white;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select:none;
  margin-bottom: -1px;
}

.active > div > a {
  color: white;
}

.file-img{
  cursor: pointer;
  width:15%;
  text-align: center;
}

.file-img img{
  height:20px;
}

.file-opt-icon{
  cursor: pointer;
  color: silver;
  margin-left: 15px;
  width:10%;
  text-align: center;
}

.file-opt-cont{
  display:flex;
  justify-content: space-around; 
  padding:5px;
  cursor: pointer;
}

.file-opt-item{
  width:100%;
  text-align: center;
  cursor: pointer;
}

.file-opt-item a{
  font-size: 12px;
  width:15%;
}

.file-layername{
  cursor: pointer;
  width:75%;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 56px;
}

#modalgeojson {
  position: absolute;
  flex-direction: column;
  width: 34px;
  height: 34px;
  color: black;
  font-size: 1.1em;
  top: 334px;
  left: 10px;
  z-index: 999;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

#modalgeojson :hover {
  background-color: #f4f4f4;
}

#iconopenfile-container {
  height: 100%;
  width: 100%;
  flex: 4;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border-color: #cccccc;
  font-size: 14px;
}
.icons-modalfile{
  display: flex;
  flex-direction: row;
  width: 100%;
  top:5px;
}
#modalOpenFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  overflow: hidden;
  float: none;
  border-radius: 8px;
  z-index: 1200;
  border: 3px;
  padding: 5px;
	background-color: white !important;
  left: 40%;
  top: 100px;
  position: absolute;
  margin-bottom: 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;

  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnclose-icon-modalfile {
  text-align: right;
  width: 5%;
}

#title-icon-modalfile {
  text-align: center;
  width: 95%;
  color: #3f3f3f;
}

.icon-modalfile {
  display: inline-block;
}



/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.wrapper .upload{
  height: 100px;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif
}

#logo_up{
  font-size: 50px;
}
.fa-file-alt{
  font-size: 30px;
}

.fa-times{
  font-size: 20px;
}
.fa-trash-o{font-size: 20px;}

.fa-times:hover{
  color: #73CFF2;
}
.upload p{
  margin-top: 15px;
  font-size: 16px;
}

section .row{
  margin: 10px;
  background: #EBF8FD;
  list-style: none;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #37bbed;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #37bbed;
  border-radius: inherit;
}
.uploaded-area{
  width: 100%;
  
  overflow-y: auto;
}
.uploaded-area.onprogress{
  max-height: 150px;
}

.uploaded-area .row .content{
  display: flex;
  align-items: center;
  width: 100%;
}
.uploaded-area .row .details{
  display: flex;
  margin: 5px;
  flex-direction: column;
}

.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}

.upload{
  width: 100%;
  color:#37bbed !important;
  cursor: pointer;
}
.upload:hover{
color: #73CFF2;
cursor: pointer;
}


#uploaded-area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#uploaded-area::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#uploaded-area::-webkit-scrollbar-thumb
{
	background-color: #37bbed;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.active-tab-upload{
  color: #37bbed;
  border-bottom: 2px solid #5fbae9;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin: 5px 8px 10px 8px;
  cursor: pointer;
}
.disabled-tab-upload{
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin: 5px 8px 10px 8px;
  color: #cccccc;
  cursor: pointer;
}

.tabs_upload{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn.disabled{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}




@media (max-width: 768px) {
  #modalOpenFile {
    left: 45px;
    top: 50px;
    max-width: 700px;
  }
}
@media (max-width: 600px) {
  #modalOpenFile {
    left: 45px;
    top: 50px;
    max-width: 580px;
  }
}
@media (max-width: 480px) {
  #modalOpenFile {
    left: 45px;
    top: 50px;
    max-width: 300px;
  }

  #filter-field {
    width: 80px;
  }
  #filter-value {
    width: 100px;
  }
}
@media (max-width: 360px) {
  #modalOpenFile {
    left: 45px;
    top: 50px;
    max-width: 250px;
  }
  #filter-field {
    width: 80px;
  }
  #filter-value {
    width: 100px;
  }
}


@media (max-height: 480px) {
  #modalOpenFile {
    left: 45px;
    top: 50px;
    max-height: 300px;
    overflow: scroll;
  }
}
@media (max-height: 420px) {
  #modalOpenFile {
    max-height: 250px;
    overflow: scroll;
  }
}
@media (max-height: 360px) {
  #modalOpenFilel {
    left: 45px;
    top: 50px;
    max-height: 200px;
    overflow: scroll;
  }
}

@media (max-height: 320px) {
  #modalOpenFilel {
    left: 45px;
    top: 50px;
    max-height: 150px;
    overflow: scroll;
  }
}

@media (max-height: 500px) {
  #modalgeojson {
    left: 34px;
    top: 188px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 600px) {
  #modalgeojson {
    left: 2px !important;
    top: 264px;
  }
}


/**/
@media (max-height: 400px) {
  #logo_upload_container input{
    height: 0px;
    width: 0px;
  }
  #modalOpenFile{
    top:50px;
    max-height: 280px !important;
  }
  #logo_up{
    font-size: 20px;
  }
  .tabs_upload{
    margin-bottom:2px;
  }

  .tabs_upload span {
    font-size: 10px !important;
    white-space: nowrap;
    max-height: 20px;
    overflow: hidden;
  }

  .wrapper{
    height: 50px;
  }
  .wrapper .upload{
    overflow: hidden;
  }
  .upload p{
    font-size: 12px;
    margin-top: 5px;
  }
  #btn-upload-agregar-capa{
    margin:5px 0px 5px !important;
  }

  .uploaded-area{
    max-height: 80px !important;
  }
    
}

@media (max-width: 768px) {
  .modal-file-delete{
      left:10%;
    } 

  #modalOpenFile {
    max-height: 70%;
  }

  .uploaded-area{
    max-height: 100px;
  }
    
}

/*desktop*/
@media (min-width: 769px) {
  .modal-file-delete{
    left:40%;
  } 

  #modalOpenFile {
    max-height: 470px;
  }

  .uploaded-area{
    max-height: 200px;
  }
}