.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3px;
}

.form-element {
    width: 100%;
    height: 30px;
    border-radius: var(--input-text-border-radius);
    margin-bottom: 5px;
}

.form-button {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    margin-top: 15px;
    border: 1px solid;
    color: white;
    background-color: #008dc9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button:hover {
    color: #008dc9;
	background-color: white !important;
}
