 <link rel="shortcut icon" href="http://www.ign.gob.ar/sites/default/files/favicon.png" type="image/x-icon" />
 <!-- Librerias del mapa -->
  <link rel='stylesheet' href='https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css' />
  <script>
    $.getScript("https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js", function( data, textStatus, jqxhr ) {
      $.getScript('https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js');
      $.getScript('https://daniellsu.github.io/leaflet-betterscale/L.Control.BetterScale.js');
      // Awesome Markers
      $.getScript("https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.1/leaflet.awesome-markers.min.js");
      // Leaflet Zoomhome plugin
      $.getScript("templates/ign-geoportal-basic/js/leaflet-zoomhome/dist/leaflet.zoomhome.min.js");
      // Leaflet Bing Layer
      $.getScript("templates/ign-geoportal-basic/js/leaflet-bing-layer-gh-pages/leaflet-bing-layer.js");
      // <!-- Leaflet Minimap plugin -->
      $.getScript("templates/ign-geoportal-basic/js/leaflet-minimap/Control.MiniMap.js");
      // <!-- Leaflet Locate plugin -->
      $.getScript("templates/ign-geoportal-basic/js/leaflet-locate/L.Control.Locate.min.js");
      // <!-- Leaflet Mouse Position plugin -->
      $.getScript("templates/ign-geoportal-basic/js/leaflet-mouseposition/src/L.Control.MousePosition.js");
      // <!-- Leaflet Measure plugin --> 
      $.getScript("templates/ign-geoportal-basic/js/leaflet-measure/leaflet-measure.js");
      // <!-- Leaflet EasyPrint plugin -->
      $.getScript("templates/ign-geoportal-basic/js/leaflet-easyPrint/bundle.js");
      // <!-- Leaflet Control.FullScreen plugin -->
      $.getScript("templates/ign-geoportal-basic/js/leaflet-fullscreen/Control.FullScreen.js");
      // <!-- Leaflet BetterWMS -->
      $.getScript("templates/ign-geoportal-basic/js/leaflet-wms/leaflet.wms.js");
      // <!-- Leaflet Draw -->  
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/Leaflet.draw.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/Leaflet.Draw.Event.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/Toolbar.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/Tooltip.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/ext/GeometryUtil.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/ext/LatLngUtil.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/ext/LineUtil.Intersect.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/ext/Polygon.Intersect.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/ext/Polyline.Intersect.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/ext/TouchEvents.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/DrawToolbar.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.Feature.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.SimpleShape.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.Polyline.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.Marker.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.Circle.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.CircleMarker.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.Polygon.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/draw/handler/Draw.Rectangle.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/EditToolbar.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/EditToolbar.Edit.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/EditToolbar.Edit.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/EditToolbar.Delete.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/Control.Draw.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/Edit.SimpleShape.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/Edit.SimpleShape.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/Edit.Rectangle.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/Edit.Rectangle.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/Edit.Marker.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/Edit.CircleMarker.js");
      $.getScript("templates/ign-geoportal-basic/js/leaflet-draw/src/edit/handler/Edit.Circle.js");
      // <!-- Leaflet SimpleGraticule -->
      $.getScript("templates/ign-geoportal-basic/js/leaflet-simplegraticule/L.SimpleGraticule.js");
      // <!-- Load Custom Map -->
      $.getScript("templates/ign-geoportal-basic/js/mapa.js");
    });
  </script>
  <!-- Better scale css -->
  <link rel='stylesheet' href='https://daniellsu.github.io/leaflet-betterscale/L.Control.BetterScale.css' />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

  <!-- Awesome Markers -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.1/leaflet.awesome-markers.css">
  
  <!-- Leaflet Zoomhome plugin -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-zoomhome/dist/leaflet.zoomhome.css"/>
  
  <!-- Leaflet Minimap plugin -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-minimap/Control.MiniMap.css">

  <!-- Leaflet Locate plugin -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-locate/L.Control.Locate.css">

  <!-- Leaflet Mouse Position plugin -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-mouseposition/src/L.Control.MousePosition.css">

  <!-- Leaflet Measure plugin -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-measure/leadflet-measure.css">
  
  <!-- Leaflet Control.FullScreen plugin -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-fullscreen/Control.FullScreen.css" />


  <!-- Leaflet Draw -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-draw/src/leaflet.draw.css"/>

  <!-- Leaflet SimpleGraticule -->
  <link rel="stylesheet" href="templates/ign-geoportal-basic/js/leaflet-simplegraticule/L.SimpleGraticule.css"/>
  