/*******************************
Personalizado
*******************************/
.leaflet-container {
	font: 12px/1.5 Roboto, sans-serif !important;
}

.navbar-header > a > img {
	width: 336px;
	top: 0px;
}

.basemap-selector > a {
    width: 34px !important;
    height: 34px !important;
}

#top-right-logo-link > img {
	position: absolute;
	top: 4px !important;
	width: 35px !important;
}

@media (max-width: 768px) {
	#top-left-logo {
		background-image: url("../img/logo.svg");
		background-size: 336px 49.6px;
		background-repeat: no-repeat;
		height: 50px;
	}
}
@media (min-width: 769px) {
	#top-left-logo {
		background-image: url("../img/logo.svg");
		background-size: 336px 49.6px;
		background-repeat: no-repeat;
		height: 50px;
	}
}
