/*******************************
Leaflet
*******************************/
.leaflet-container {
	font: 12px/1.5 Roboto, sans-serif !important;
}
.leaflet-control-measure-interaction h3 {
	font-size: 17px !important;
}
.leaflet-popup-content h3 {
	font-size: 17px !important;
}
.individualFeature h4 {
	text-decoration: none !important;
}
.leaflet-control-easyPrint {
	height: 33px !important;
}
.leaflet-control-minimap {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	box-shadow: none;
	border-radius: 4px;
	box-sizing: border-box;
}

/*******************************
Leaflet popup featureInfo
*******************************/
.featureInfo {
	font-family: Tahoma;
	font-size:10px;
	width:100%;
}
.featureInfo img {
	display:block;
	float:none;
}

.featureInfo h3{
	margin-bottom:1em;
}

.featureInfo h4{
	border-bottom:3px solid #085183;
	margin:2em;
}

.featuresGroup {
	border-bottom: 2px solid #085183;
}

.individualFeature {
	border-bottom: 1px dashed #085183;
}
.individualFeature h4 {
    margin: 9px 0px !important;
}
.individualFeature ul {
    list-style-type: none;
    padding-left: 0px;
}
.leaflet-popup-content {
    max-width: 250px;
}
#popupPageSeeker {
    float: left;
    width: 100%;
}
#popupPageSeekerNext {
    float: right;
    padding-right: 10px;
}
#popupPageSeekerPrev {
    float: left;
    padding-left: 10px;
}

/*******************************
Control mapa base
*******************************/
#basemap-selector {
	position:absolute;
	top:60px;
	right:10px;
	z-index:1000;
}
#basemap-selector .leaflet-control-layers-toggle {
	width: 34px;
	height: 34px;
	line-height: 30px;
	border-radius: 4px;
	color: black;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	background-color: white;
	background-image: none;
	text-align: center;
}
#basemap-selector .leaflet-control-layers-toggle:hover {
	background-color: #f4f4f4;
}

#collapseBaseMapLayers {
	position: absolute;
	top:1px;
	left:41px;
}
#collapseBaseMapLayers .list-group-item {
	padding: 5px;
	background:rgba(255,255,255,0.9);
	font-size: 14px;
}
#collapseBaseMapLayers .img-rounded {
	width:50px;
	margin-right:5px;
}

.basemap-selector .leaflet-control-layers-toggle {
	width: 34px;
	height: 34px;
	line-height: 30px;
	border-radius: 4px;
	color: black;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	background-color: white;
	text-align: center;
	background-image: url(../img/capas.png);
	background-size: 80% 70%;
}
.basemap-selector .leaflet-control-layers-toggle:hover {
	background-color: #f4f4f4;
}
.list-inline {
	margin-bottom: 0px;
}
.list-inline li {
	width: 230px;
}

/*******************************
Control graticula
*******************************/
.leaflet-control-customgraticule {
	width: 34px;
	height: 34px;
	line-height: 30px;
	border-radius: 4px;
	color: black;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	background-color: white;
	background-image: none;
	text-align: center;
	background-image: url(../img/grid.png);
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: center; 
}
.leaflet-control-customgraticule:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}


/*******************************
Personalizado
*******************************/
.basemap-selector > a {
    width: 34px !important;
    height: 34px !important;
}
