.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;

    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.37);
    height: 100%;
    width: 100%;
}


.menuContainer{
    position: absolute;
    top: 17%;
    left: 27.5%;

    z-index: 2001;
    background-color: rgba(213, 213, 213, 0.795);
    border-radius: 10px;
    height: 64vh;
    width: 80vh;

    display: flex;
    flex-direction: column; 
    align-items: center;
}

.exit-button{
    
    position: absolute;
    top : 0px;
    right: 0px;
    
    background-color: transparent;
    border: none;
    margin: 3px;
}       

.outLine{
    height: auto;
    width: 100%;
    border: 1px solid red;
}

.outLinetres{
    display: flex;
}
.base-map-menu-main-section{
    width: 90%;
    height: 70%;

    background-color: rgb(188, 188, 188);
    border-radius: 12px;
    overflow: hidden;
    margin: 4%;
}

.section-container{
    width: 10px;
    height: 10px;
    /* background-color: red; */
}
    
.especificamenteparaesto{
    height: 100px;
    width: 100px;
}    

.justAnIdea{
    border: solid red;
    width: 200px;
    height: 50px;
    display: flex;
}    

.map-item-button{
    color: #3174BF;
    background-color: #1a4570;
}    

.imagenClaseSinImaginacion{
    height: 50px; 
    width: auto;
}    
.outLinedos{
    height: 30px;
    border: 1px solid blue;
}    
