#mr {
  width: 240px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 40%;
  background-color: white !important;
  border: 3px;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  float: none;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1200;
}

#geoprocesos-icon :hover {
  cursor: pointer;
}

.icons-modalfile {
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 5px;
}

#btnclose-icon-modalfile {
  text-align: right;
  width: 5%;
}

.icon-modalfile {
  display: inline-block;
}

.icon-layer-geo {
  color: silver;
  margin-left: 15px;
}

.icon-layer-geo :hover {
  color: black;
}

.geoprocessing-form-container form select {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.geoprocessing-form-container form label {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #3f3f3f;
}

.geoprocessing-form-container form input {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
  outline: none;
}

.main-menu-tab-Geoprocesos {
  background-color: white !important;
}

.geoprocessing-form-container {
  background-color: white !important;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-perfil-elevacion {
  width: 450px;
  overflow: hidden;
  float: none;
  border-radius: 8px;
  z-index: 1200;
  border: 3px;
  padding: 5px;
  background-color: white !important;
  left: 40%;
  top: 100px;
  position: absolute;
  margin-bottom: 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (max-width: 768px) {
  #mr {
    left: 45px;
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  #mr {
    left: 45px;
    max-width: 50%;
    max-height: 70%;
  }
}

@media (max-width: 480px) {
  #mr {
    left: 45px;
    max-width: 240px;
  }
}

@media (max-width: 360px) {
  #mr {
    left: 45px;
    max-width: 70%;
    max-height: 50%;
  }
}

@media (max-height: 500px) {
  #mr {
    left: 45px;
    max-height: 50%;
  }
}

@media (max-height: 420px) {
  #mr {
    max-height: 50%;
  }
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.contourButton {
  position: absolute;
  height: px;
  width: 39px;
  left: 80%;
  bottom: 46%;
}

.containerSlider {
  width: 165px;
}

.rangeSlider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
  height: 5px;
  margin-top: 10px;
}

.containerSlider ::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 13px;
  width: 13px;
  background-color: #37bbed;
  border-radius: 50%;
  border: 1px solid #37bbed;
  cursor: pointer;
}

.sliderValue {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  color: red;
}

.leaflet-pane .leaflet-height-pane {
  /* mix-blend-mode: difference; */
  filter: hue-rotate(3.142rad) saturate(4);
}

#geoPIcon{
  font-size: 15px;
  line-height: inherit;
}