#searchbar {
  width: 300px;
  height: auto;
  overflow: hidden;
  float: none;
  border-radius: 8px;
  z-index: 1500;
  border: 3px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  left: 40%;
  top: 0px;
  position: absolute;
  margin: 5px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

input:focus{
  border: 1px !important;
  border-radius: 8px !important;
  box-shadow: 0 0 3px #008dc9 !important;
  -moz-box-shadow: 0 0 3px #008dc9!important;
  -webkit-box-shadow: 0 0 3px #008dc9!important;
}

.searchbar-input{padding-left: 10px;}
.searchbar-input:hover{
  border: 1px !important;
  border-radius: 8px !important;
  box-shadow: 0 0 3px #008dc9 !important;
  -moz-box-shadow: 0 0 3px #008dc9 !important;
  -webkit-box-shadow: 0 0 3px #008dc9 !important;
}


.list-group-gc{
  padding-left: 0;
}

.list-group-item-gc{
position: relative;
display: block;
padding: 10px 5px;
margin-bottom: -1px;
background-color: #fff;
border: 1px solid #ddd;
text-overflow: ellipsis;
height: 36px;
width: 100%;
white-space: nowrap;
overflow: hidden;
}

#results_search_bar{
  margin: 5px;
}