.context-menu {
    width: 170px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2000;
    left: -20px;
    top: -15px;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
    cursor: pointer;
}
.context-menu-item {
    height: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    /* padding: 15px 10px 5px 15px; */
    /* padding-bottom: 40px; */
}


.context-menu-item-active {
  color: rgb(0, 92, 131);
}
.context-menu-item-active:hover {
  background-color: rgb(0, 141, 201);
  color: white;
}
.context-menu-item-active:active {
  background-color: rgb(0, 92, 131);
  color: white;
}
.context-menu-item-disabled {
  color: rgb(107, 109, 110);
}
.context-popup {
  left: 20px !important;
  top: 20px;
}
.context-menu-item-text {
  margin: 0px !important;
  font-weight: 700;
}
.non-selectable-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.context-menu :first-child {
  border-radius: 5px 5px 0 0;
}
.context-menu :last-child {
  border-radius: 0 0 5px 5px;
}

.context-imagen{
    background-color: #fff;
    padding: 10px;
    text-align: left;
    margin-left: 240px;
    /* height: 350px; */
    margin-top: -200px;
}



.context-imagen {
    position: absolute;
    top: 251px;
    z-index: 9999;
    /* text-align: center; */
    width: 379px;
    /* left: 50%; */
    /* margin-left: -75px; */
    background-color: white;
    padding: 40px;
    -webkit-box-shadow: 0px 10px 16px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px 0px rgb(0 0 0 / 75%);
    display: none;
}

#md-table td {
  padding: 3px;
}

#md-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#md-table td:nth-child(1) {
  font-weight: bold;
}

#md-table td:nth-child(2) {
  text-align: left;
}

#md-table tr:hover {
  background-color: #ddd;
}