#zoom-level {
  position: absolute;
  flex-direction: column;
  font-size: 1.1em;
  bottom: 20px;
}

#zoom-container {
  background-color: rgba(0, 0, 0, 0.7);
  color: white !important;
}

@media (max-height: 650px) {
  #zoom-level {
    display: none;
  }
}