/*******************************
Personalizado
*******************************/
.leaflet-container {
	font: 12px/1.5 Roboto, sans-serif !important;
}

.navbar-header > a > img {
    width: 134px;
}

.basemap-selector > a {
    width: 34px !important;
    height: 34px !important;
}
