/*******************************
General
*******************************/
body {
  font-family: Roboto, sans-serif;
  background-color: #008dc9;
  overflow: hidden;
}

@media (max-width: 600px) {
  body {
    overflow-y: scroll;
  }
}

/*******************************
Menu principal
*******************************/
.tooltip {
  z-index: 2000; /* A value higher than 1010 that solves the problem */
}
.loading {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.loading > img {
  width: 70px;
}

.panel-default > .panel-heading {
  background-color: #008dc9;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.panel-default > .panel-heading > .panel-title > a {
  font-size: 15px;
  font-weight: bold;
}
#sidebar-container {
  z-index: 1500;
  background-color: #008dc9;
}
#sidebar .nav {
  border: 1px;
}

.navbar-toggle .icon-bar {
  border: 1px solid #337ab7;
}
.navbar-header > button {
  display: block;
}
.navbar {
  background-color: #008dc9;
}
.navbar-brand {
  padding-top: 7px;
}

.nav-sidebar > .active > a {
  background-color: inherit !important;
}
.navbar-header > a > img {
  width: 50px;
  top: 7px;
  position: absolute;
}
.nav-tabs {
  background-color: #008dc9;
  border-bottom: 1px solid #ddd;
}
.nav-tabs > .active {
  background-color: transparent !important;
}
.nav-tabs > li > a {
  color: white;
  border: 1px solid #ddd;
  padding: 5px 15px;
}
.nav-tabs > li > a:hover {
  color: #444444;
}
.nav-tabs > li.active > a {
  background-color: #33b560 !important;
  color: white !important;
}
.tab-content {
  border: 1px solid #ddd;
}
.panel-heading {
  border-bottom: 1px solid white;
}
.active {
  background-color: #33b560 !important;
}
li.active > div > a {
  color: white !important;
}
.list-group-item.active {
  border-color: white;
}
.active-layers-counter {
  height: 20px;
  width: 20px;
  display: table-cell;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #33b560;
}
.item-group-short-desc {
  font-size: 11px;
  line-height: 11px;
}
.item-group-short-desc a {
  font-size: 11px;
  color: #dddddd;
}
.item-group-title {
  font-weight: bold;
  font-size: 15px;
}
.legend-layer {
  height: 20px;
  width: 0px;
  display: table-cell;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  float: right;
  padding-top: 2px;
  padding-right: 2px;
}
.capa-title {
  vertical-align: top;
  width: 96%;
}
@media (max-width: 390px) {
  /*.tooltip {
		display: none !important;
	}*/
  .leaflet-control-minimap {
    display: none;
  }
  /*
	.leaflet-top.leaflet-right {
		display: none;
	}*/
  .navbar-header > a > img {
    left: 50px;
  }
}
@media (max-width: 768px) {
  .navbar-header a {
    font-size: 13px;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  #sidebar-container.collapse {
    height: 93% !important;
  }
}
.wms-combobox-selector {
  width: 100%;
  height: 35px;
  margin: 10px 0px 10px 0px;
}

/*******************************
Searcher
*******************************/
::-ms-clear {
  display: none;
}
.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

/*******************************
JQuery Autocomplete
*******************************/
.ui-widget.ui-widget-content {
  z-index: 3000;
}

/*******************************
Login
*******************************/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 999;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.top-right-btn {
  position: absolute;
  top: 8px !important;
  right: 10px;
}

/*******************************
Leaflet
*******************************/
.leaflet-container {
  font: 12px/1.5 "Titillium Web", sans-serif !important;
}
.leaflet-control-measure-interaction h3 {
  font-size: 17px !important;
}
.leaflet-popup-content h3 {
  font-size: 17px !important;
}
.individualFeature h4 {
  text-decoration: none !important;
}
.leaflet-control-easyPrint {
  height: 33px !important;
}
.leaflet-control-minimap {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  box-shadow: none;
  border-radius: 4px;
  box-sizing: border-box;
}

/*******************************
Leaflet popup featureInfo
*******************************/
.featureInfo {
  font-family: Tahoma;
  font-size: 10px;
  width: 100%;
}
.featureInfo img {
  display: block;
  float: none;
}

.featureInfo h3 {
  margin-bottom: 1em;
}

.featureInfo h4 {
  border-bottom: 3px solid #085183;
  margin: 2em;
}

.featuresGroup {
  border-bottom: 2px solid #085183;
}

.individualFeature {
  border-bottom: 1px dashed #085183;
}
.individualFeature h4 {
  margin: 9px 0px !important;
}
.individualFeature ul {
  list-style-type: none;
  padding-left: 0px;
}
.leaflet-popup-content {
  max-width: 250px;
}
#popupPageSeeker {
  float: left;
  width: 100%;
}
#popupPageSeekerNext {
  float: right;
  padding-right: 10px;
}
#popupPageSeekerPrev {
  float: left;
  padding-left: 10px;
}

/*******************************
Popup geometría
*******************************/
.active-layer:hover {
  background-color: rgb(0,141,201, 0.1);
}
.active-layer-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*******************************
Control mapa base
*******************************/
#basemap-selector {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1000;
}
#basemap-selector .leaflet-control-layers-toggle {
  width: 34px;
  height: 34px;
  line-height: 30px;
  border-radius: 4px;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-color: white;
  background-image: none;
  text-align: center;
}
#basemap-selector .leaflet-control-layers-toggle:hover {
  background-color: #f4f4f4;
}
/*
#collapseBaseMapLayers {
	position:relative;
	top:35px;
	z-index:1100;
}
*/
#collapseBaseMapLayers {
  position: absolute;
  top: 1px;
  left: 41px;
}
#collapseBaseMapLayers .list-group-item {
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}
#collapseBaseMapLayers .img-rounded {
  width: 50px;
  margin-right: 5px;
}

.basemap-selector .leaflet-control-layers-toggle {
  width: 35px;
  height: 34px;
  line-height: 30px;
  border-radius: 4px;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-color: white;
  text-align: center;
  background-image: url(../images/capas.png);
  background-size: 80% 70%;
}
.basemap-selector .leaflet-control-layers-toggle:hover {
  background-color: #f4f4f4;
}
.list-inline {
  margin-bottom: 0px;
}
.list-inline li {
  width: 230px;
}

@media (max-height: 400px) {
  .basemap-selector > a {
    width: 30px !important;
    height: 30px !important;
    border-radius: 4px;
  }
}
/*******************************
Control graticula
*******************************/
.leaflet-control-customgraticule {
  width: 34px;
  height: 34px;
  line-height: 30px;
  border-radius: 4px;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-color: white;
  background-image: none;
  text-align: center;
  background-image: url(../images/grid.png);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.leaflet-control-customgraticule:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

/*******************************
SideBar
*******************************/
@media (max-width: 768px) {
  .leaflet-control-minimap {
    display: none;
  }

  #sidebar-toolbar-icon-right {
    top: 10px;
    right: 46px;
  }
}

@media (max-width: 600px) {
  .leaflet-control {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  div .leaflet-draw-toolbar {
    margin-top: 0px !important;
  }
  .leaflet-right .leaflet-control {
    margin-right: 0px !important;
    margin-top: 0px !important;
  }
}

@media (max-height: 500px) {
  #collapseBaseMapLayers .list-group-item {
    padding: 0px !important;
  }

  #collapseBaseMapLayers {
    margin-left: 40px !important;
  }

  .leaflet-control-customgraticule {
    width: 32px;
    height: 32px;
  }

  div .leaflet-control-measure {
    left: 34px !important;
    top: 156px !important;
    position: absolute;
  }

  .leaflet-control-minimap {
    display: none;
  }

  .leaflet-control {
    margin-left: 0px !important;
    margin-top: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
  }

  .basemap-selector > a {
    border: 0px solid rgba(0, 0, 0, 0.2) !important;
    width: 30px !important;
    height: 30px !important;
  }

  .leaflet-control-layers-toggle {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
  }

  .leaflet-control-zoom-fullscreen .fullscreen-icon {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
  }

  .leaflet-draw-toolbar .leaflet-bar {
    bottom: 150px !important;
    position: relative;
  }

  div .leaflet-draw-toolbar {
    margin-top: 0px !important;
  }
  .leaflet-right .leaflet-control {
    margin-right: 0px !important;
    margin-top: 0px !important;
  }

  .leaflet-control-measure-interaction div h3 {
    font-size: 12px !important;
  }
  .leaflet-draw-toolbar {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
}

@media (max-height: 550px) {
  .leaflet-control-minimap {
    display: none;
  }

  .leaflet-control-scale-line {
    display: none;
  }
}

@media (max-height: 400px) {
  .leaflet-bottom {
    margin-right: 40px !important;
  }
}
