/*
=====================================================================
CONVENCIONES DE GENERALES DE CSS
=====================================================================
Reglas Generales:

1. Consistencia: Mantener la consistencia en la aplicación de las convenciones de nomenclatura en todos los estilos CSS.

2. Claridad: Elegir nombres que sean descriptivos y que proporcionen una comprensión clara de la función o estilo del elemento.

3. Comentarios: Es recomendable agregar un comentario a las clases que explique brevemente su función.

4. Modificadores Opcionales: Utilizar modificadores solo cuando sea necesario. No todos los elementos requieren un modificador.

5. Separadores: Utilizar guiones medios para separar las palabras en un nombre de clase (p. ej., .ag-btn-primary).

Estas convenciones de nomenclatura están diseñadas para mejorar la legibilidad del código y facilitar el mantenimiento del sistema de estilos.

CONVENCIONES DE NOMENCLATURA CSS

* Estructura de Nomenclatura de clases:

.ag-{elemento}-{tipo}-{modificador}

- ag: Identifica que las clases son propias de Argenmap.
- elemento: Especifica el tipo de elemento HTML al que se aplica la clase.
- tipo: Opcional. Indica el tipo del elemento HTML(por ejemplo para "input" : "text", "checkbox", etc.).
- modificador: Opcional. Representa cualquier modificador adicional para la clase.

Ejemplos:

1. Botones:
  - Clase para un botón primario: .ag-btn-primary
  - Clase para un botón secundario: .ag-btn-secondary

2. Campos de Entrada:
  - Clase para un campo de entrada de confirmación: .ag-input-text-confirm
  - Clase para un campo de entrada de advertencia: .ag-input-text-danger

* Estructura de Nomenclatura para variables css en :root:

--{elemento}-{propiedad}-{modificador}

- elemento: Especifica el tipo de elemento al que pertenecen las propiedades.
- propiedad: Indica la propiedad CSS que se está definiendo (p. ej., "ftn-size", "border-radius", "background-color").
- modificador: Opcional. Representa cualquier modificador adicional para la propiedad.

Ejemplos:

1. Botones:
  - Tamaño de fuente para botones: --btn-ftn-size
  - Color de fondo para botones primarios: --btn-primary-bg-color

*/
@font-face {
  font-family: "Encode Sans";
  src: url("../../../dist/fonts/EncodeSans-Regular.ttf");
}

@font-face {
  font-family: "Encode Sans Medium";
  src: url("../../../dist/fonts/EncodeSans-Medium.ttf");
}

@font-face {
  font-family: "Encode Sans Semi Bold";
  src: url("../../../dist/fonts/EncodeSans-SemiBold.ttf");
}

@font-face {
  font-family: "Encode Sans Bold";
  src: url("../../../dist/fonts/EncodeSans-Bold.ttf");
}

@font-face {
  font-family: "Font Awesome 6";
  src: url("../../../dist/fonts/fa-solid-900.woff2");
}

@font-face {
  font-family: "Star Wars Jedi";
  src: url("../../../dist/fonts/Starjedi-Regular.ttf");
}

@font-face {
  font-family: "Aurebesh";
  src: url("../../../dist/fonts/Aurebesh.otf");
}

@font-face {
  font-family: "Aurebesh Bold";
  src: url("../../../dist/fonts/Aurebesh-Bold.otf");
}

/* 
#0C74A0 #105C97 #3A6EA7 #0094D4 #5BC0DE Colores de prueba
#0091CE #F38A00 Logo IGN
#37bbec MapaMuni
#157DB9#0094d4 Color institucional 2024
#0db2e0 Color institucional 2023
#242C4F #45659D #E7BA61 Paleta Manual de marca Presi 2024
*/
:root {
  --primary-color: #3a6ea7;
  --secondary-color: #0094d4;
  --main-bg-color: #fff;
  --bg-color: #0db2e0;
  --active-bg-color: #33b560;
  --hoverSelect-bg-color: #61ca86;
  --text-color: #fff;
  --danger-color: #bd5555;
  --map-btn-color: #303030;
  --map-btn-bg-color: #fff;
  --popup-fnt-size: 12px;
  --group-title-fnt-size: 15px;
  --body-fnt-size: 14px;
  --layer-cont-fnt-size: 11px;
  --layer-border-color: 1px solid #ddd;
  --menu-section-hover-color: #e7e7e7;
  /*#969393 #AAAAAA*/
  --layer-btn-hover-color: #e7e7e7;
  /*#d1cccc  */
  --main-font-family: "Encode Sans", sans-serif;
  --modal-bg-color: #ffffffbb;
  /*Argenmap ui Button*/
  --btn-ftn-size: 1.5rem;
  --btn-border-radius: 6px;
  --btn-background-color: #fff;
  --btn-hover-bg-color: #fff;
  --btn-hover-color: #fff;
  --btn-primary-color: var(--primary-color);
  --btn-secondary-color: var(--secondary-color);
  --btn-disabled-color: #838788;
  /* #AAAAAA */
  --btn-confirm-color: #448148;
  /* #33B560  #3A8555*/
  --btn-danger-color: var(--danger-color);
    /*#CE4946 #EF4D3D #c62828*/
  /*Argenmap ui input text */
  --input-text-ftn-size: 14px;
  --input-text-bg-color: #fff;
  --input-text-border-radius: 6px;
  --input-text-border-color: #939697;
  /*Menu capas*/
  --lyr-menu-bg-color: #ffffff;
  --lyr-menu-panel-head-bg-color: var(--primary-color);
  --lyr-menu-panel-head-text-color: #fff;
  --menu-title-text-color: #fff;
  --menu-text-color: #505050;
    --menu-text-color-hover: #202020
}

/* General */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--main-font-family);
  font-size: var(--body-fnt-size, 14px);
}

@media (max-width: 600px) {
  body {
    overflow-y: scroll;
  }
}

/* Sidebar */
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  /*   height:100%; */
  overflow-y: hidden;
  opacity: 0.9;
  transition: all 0.5s;
  /* 	display:flex;
	align-items:center; */
}

/* Main Content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  transition: all 0.5s;
}

#menu-toggle {
  transition: all 0.3s;
  font-size: 2em;
  display: inline-block;
  padding: 2px 12px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
  width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav {
  padding: 0;
  list-style: none;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
}

.sidebar-nav li {
  line-height: 40px;
  width: 100%;
  transition: all 0.3s;
  padding: 10px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li:hover {
  background: #846bab;
}

.loader-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  position: fixed;
  width: 100vw;
  border-radius: 3px;
  background: linear-gradient(90deg,
      white 0%,
      #008dc9 25%,
      blue 50%,
      #008dc9 75%,
      white 100%);
  background-size: 200%;
  z-index: 1600;
  animation: moveGradient 0.4s linear infinite;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.container-fluid,
.row {
  height: 100%;
}

nav .container-fluid {
  padding: 0;
}

.pe-0 {
  padding-right: 0;
}

#wms-combo-list {
  display: none;
}

.capa-info {
  vertical-align: top;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#mapa {
  position: relative;
  height: 100dvh;
  background-color: var(--main-bg-color, white) !important;
}

.leaflet-top.leaflet-left .leaflet-control {
  clear: none;
}

div.leaflet-top.leaflet-left {
  right: 45px;
  left: auto;
}

#top-left-logo {
  height: 50px;
}

.brand {
  height: 48px;
  background-size: cover;
  opacity: 0.7;
}

.brand:hover {
  opacity: 1;
}

@media (min-width: 1367px) {
  #modalgeojson {
    box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-flex-space-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.end-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.start-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-around-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* Argenmap UI Components class */
.ag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: var(--btn-border-radius);
  padding: 6px 12px;
  font-size: var(--btn-ftn-size);
  color: var(--btn-hover-color);
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
  border: 2px solid;
}

.ag-btn:hover {
  background-color: var(--btn-hover-color);
}

.ag-btn-primary {
  background-color: var(--btn-primary-color);
  border-color: var(--btn-primary-color);
}

.ag-btn-primary:hover, .ag-btn-primary:hover svg path {
  color: var(--btn-primary-color);
  fill: var(--btn-primary-color);
}

.ag-btn-secondary {
  background-color: var(--btn-secondary-color);
  border-color: var(--btn-secondary-color);
}

.ag-btn-secondary:hover {
  color: var(--btn-secondary-color);
}

.ag-btn-disabled {
  background-color: var(--btn-disabled-color);
  border-color: var(--btn-disabled-color);
  cursor: not-allowed;
  opacity: 0.65;
}

.ag-btn-disabled:hover {
  color: var(--btn-disabled-color);
}

.ag-btn-confirm {
  border-color: var(--btn-confirm-color);
  background-color: var(--btn-confirm-color);
}

.ag-btn-confirm:hover {
  color: var(--btn-confirm-color);
}

.ag-btn-danger {
  border-color: var(--btn-danger-color);
  background-color: var(--btn-danger-color);
}

.ag-btn-danger:hover {
  color: var(--btn-danger-color);
}

.ag-input-text {
  margin-left: 2px;
  height: 36px;
  overflow: auto;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: var(--input-text-ftn-size);
  background-color: var(--input-text-bg-color);
  border: 1px solid #a3a3a3;
  border-radius: var(--input-text-border-radius);
}

.form-control:focus {
  border-color: var(--btn-disabled-color);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Menu principal */
.menu-container {
  width: auto;
  max-width: -webkit-fill-available;
  height: auto;
  margin: 1rem;
  position: absolute;
  top: 60px;
  z-index: 1000;
  border-radius: 6px;
  padding: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px) brightness(105%);
}

.menu-section-btn {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 5px;
}

.menu-section-btn .fa-layer-group,
.menu-section-btn .fa-question,
.menu-section-btn .fa-gear {
  font-size: large;
}
.menu-section-btn .fa-universal-access {
  font-size: x-large;
}

.layer-menu-options {
  height: 30px;
  background-color: var(--active-bg-color);
  padding: 5px;
}

.panel-body {
  padding: 5px;
  background-color: var(--primary-color);
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loading>img {
  width: 70px;
}

.panel-default>.panel-heading {
  color: var(--lyr-menu-panel-head-text-color);
  background-color: var(--lyr-menu-panel-head-bg-color);
  font-size: var(--group-title-fnt-size, 15px);
  border-top: 1px solid #f5f5f5 !important;
  cursor: pointer;
}

.panel-default>.panel-heading>.panel-title>a {
  font-size: var(--group-title-fnt-size, 15px);
}

#sidebar-container {
  z-index: 500;
}

#basemap-selector {
  position: relative;
  margin: 0.5rem;
  max-height: 80vh;
  border: 0;
  border-radius: 6px;
  max-width: 320px;
}
.basemap-title {
  color: var(--menu-text-color-hover);
}
#load-layer {
  overflow: auto;
  position: relative;
  margin: 0.5rem;
  max-height: 80vh;
  border: 0;
  border-radius: 6px;
  max-width: 350px;
}

.menuFixed {
  display: block !important;
}

#sidebar {
  overflow: auto;
  position: relative;
  margin: 0.5rem;
  max-height: 80vh;
  border: 0;
  border-radius: 6px;
  /*   width: 350px; */
  background-color: transparent;
  max-width: 320px;
}

#sidebar .nav {
  border: 1px;
}

.navbar-header>button {
  display: block;
}

.navbar-brand {
  padding-top: 7px;
}

.nav-sidebar>.active>a {
  background-color: inherit !important;
}

.navbar-header>a>img {
  width: 50px;
  position: absolute;
}

.nav-tabs {
  border-bottom: var(--layer-border-color);
}

.nav-tabs>.active {
  background-color: transparent !important;
}

/* Estilos para pestañas de navegación */
.nav-tabs>li {
  margin-bottom: 0;
  left: -1px;
}

.nav-tabs>li>a {
  border-bottom: 0;
  font-weight: 600;
  margin-left: 1px;
  padding: 5px 15px;
  background-color: var(--btn-secondary-color);
  color: var(--btn-hover-color);
}

.nav-tabs>li>a:hover {
  color: var(--btn-secondary-color);
  background-color: var(--map-btn-bg-color);
  font-weight: normal;
  border: 2px solid var(--btn-secondary-color);
  border-bottom: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
  background-color: var(--active-bg-color);
  color: white;
  cursor: pointer;
  border: 2px solid var(--active-bg-color);
  border-bottom: 0;
}

.nav-tabs>li.active>a:hover {
  color: white;
  border: 2px solid var(--active-bg-color);
  border-bottom: 0;
}

.tab-content {
  border: none;
  border-radius: 4px;
}

.panel-heading {
  border: none;
  border-radius: 0;
  border-top: 1px solid #f5f5f5 !important;
}

.panel-heading:hover .item-group-short-desc span {
  color: var(--lyr-menu-panel-head-text-color);
}

.active {
  background-color: var(--active-bg-color, #33b560);
}

li.active>div>a {
  color: white !important;
}

.list-group-item {
  position: initial;
/*   font-family: "Encode Sans Medium", sans-serif; */
  cursor: pointer;
  padding: 8px 15px;
  background-color: #ffffffcc;
}

.list-group-item.capa {
  background-color: #ffffff;
}

.menu-button {
  background-color: #6e6d6d;
  position: sticky;
}

.menu-button:hover {
  background-color: #4d5358 !important;
}

.menu-button a span {
  color: var(--text-color) !important;
  padding-left: 15px;
  font-weight: bold;
}

/* END ANIMATED X */
.list-group-item.active {
  border-color: #ccc;
}

.list-group-item:hover,
.file-layer:hover {
  background-color: var(--menu-section-hover-color);
}

.active-layers-counter {
  height: 20px;
  width: 20px;
  display: table-cell;
  font-size: var(--layer-cont-fnt-size, 11px);
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  background-color: var(--active-bg-color, #33b560) !important;
  color: #fff;
}

.total-active-layers-counter {
  display: inline-block;
  font-size: var(--layer-cont-fnt-size, 11px);
  font-weight: bolder;
  width: 16px;
  border-radius: 100%;
  background-color: var(--active-bg-color, #33b560);
  color: white;
  margin-left: 3px;
}

.item-group-short-desc {
  font-size: 11px;
  line-height: 15px;
}

.item-group-short-desc span {
/*   font-size: 11px; */
  font-weight: 500;
  color: var(--lyr-menu-panel-head-text-color);
  user-select: none;
}

.item-group-title {
  -webkit-user-select: none;
  user-select: none;
  font-size: var(--group-title-fnt-size, 15px);
  font-weight: bolder;
}

.legend-layer {
  width: 15%;
  display: table-cell;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  float: right;
  padding-top: 2px;
  padding-right: 2px;
}

.expand-legend-graphic {
  background-color: var(--map-btn-bg-color);
  border-left: var(--layer-border-color);
  border-right: var(--layer-border-color);
  padding: 2px 5px;
  overflow-x: auto;
}

.name-layer {
  padding-left: 5px;
  width: 80%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.active>div>div>a {
  color: white;
}

.capa-title {
  vertical-align: top;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.icon-layer-geo {
  color: silver;
  margin-left: 15px;
}

.icon-layer-geo :hover {
  color: black;
}

.layer-menu-ui {
  color: silver;
  margin-left: 15px;
}

.layer-menu-ui :hover {
  color: black;
}

.zoom-layer,
.zoom-layer-combobox {
  cursor: pointer;
  width: 10%;
  /* color: silver; */
  opacity: 0.7;
  margin-left: 5%;
}

.zoom-layer:hover,
.zoom-layer-combobox:hover {
  /* color: black; */
  opacity: 1;
}

.resize-legend-combobox {
  cursor: pointer;
  color: silver;
}

.resize-legend-combobox:hover {
  color: black;
}

.layer-options-icon {
  cursor: pointer;
  width: 10%;
  color: silver;
  margin-left: 5%;
}

.layer-options-icon:hover {
  color: black;
}

.option-tab-icon:hover {
  color: grey;
}

.display-none {
  display: none;
}

.layer-options-active {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.options-container {
  background-color: var(--main-bg-color, white) !important;
  display: flex;
  flex-direction: initial;
}

.options-tabs {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-panel {
  width: 80%;
  border-top: var(--layer-border-color);
  border-bottom: var(--layer-border-color);
  border-right: var(--layer-border-color);
}

.option-tab-icon {
  height: 30px;
  text-align: center;
  width: 100%;
  color: silver;
  padding: 2px;
  border: var(--layer-border-color);
}

.option-tab-icon-active {
  height: 40px;
  text-align: center;
  width: 100%;
  color: grey;
  border-top: var(--layer-border-color);
  border-left: var(--layer-border-color);
  padding: 2px;
}

@media (max-width: 390px) {
  .leaflet-control-minimap {
    display: none;
  }

  .navbar-header>a>img {
    left: 50px;
  }
}

@media (max-width: 768px) {
  .navbar-header a {
    font-size: 13px;
    font-weight: bold;
  }

  .tooltip {
    display: none !important;
  }
}

@media (min-width: 768px) {
  #sidebar-container.collapse {
    height: 93% !important;
  }
}

@media (max-width: 767px) {
  #sidebar-container.collapse {
    height: initial;
    max-height: 50%;
    overflow-y: auto;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.2),
      0 -1px 0px rgba(0, 0, 0, 0.02);
  }
}

.wms-combobox-selector {
  width: 100%;
  height: 35px;
  margin: 10px 0px 10px 0px;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

/* JQuery Autocomplete */
.ui-widget.ui-widget-content {
  z-index: 3000;
}

/* Leaflet */
@media (max-width: 915px) {
  .leaflet-top {
    top: 60px;
  }
}

@media (max-width: 600px) {
  .leaflet-top {
    top: 70px;
  }
}

.leaflet-container {
  font-family: "Encode Sans", sans-serif;
}
.leaflet-container a.leaflet-popup-close-button {
  color: #505050;
  width: 25px;
  height: 25px;
  font-size: 20px;
}
.leaflet-control-measure-interaction h3 {
  font-size: 17px !important;
}
#map-toolbar-icon-left, #map-toolbar-icon-right {
  font-size: large;
}
.leaflet-control-measure-interaction.js-interaction {
  background-color: var(--map-btn-bg-color);
}
a.leaflet-control-zoomhome-in, a.leaflet-control-zoomhome-out {
  font-size: x-large !important;
}
.leaflet-popup-content h3 {
  font-size: 17px !important;
}

.leaflet-control-minimap {
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: none;
  border-radius: 4px;
  box-sizing: border-box;
}

/* The following rule adds shadows to overlay layers elements */
/* .leaflet-pane .leaflet-overlay-pane:not(:first-child) {
  filter: drop-shadow(5px -2px 1.5px rgba(5,15,5,0.3));
} */
/* Leaflet popup featureInfo */
.featureInfo {
  font-family: inherit;
/*   font-size: var(--popup-fnt-size, 12px); */
  width: 100%;
}

.featureInfo>li>b {
  font-weight: 500;
}

.featureInfo img {
  display: block;
  float: none;
}

.featureInfo h3 {
  margin-bottom: 1em;
}

.individualFeature {
  word-wrap: break-word;
  padding: 1em 0em !important;
}

.individualFeatureTitle {
  font-size: 18px;
  margin: 9px 0px !important;
  text-decoration: none !important;
}

.individualFeature ul {
  list-style-type: none;
  padding-left: 0px;
  overflow: auto;
  max-height: 60vh;
}

/* .leaflet-popup-content {
  font-family: "Encode Sans", sans-serif;
  letter-spacing: 0.02em;
}
*/

#popupPageSeeker {
  float: left;
  width: 100%;
}

#popupPageSeekerNext {
  float: right;
  padding-right: 10px;
}

#popupPageSeekerPrev {
  float: left;
  padding-left: 10px;
}

/* Popup geometría */
.active-layer:hover {
  background-color: rgb(0, 141, 201, 0.1);
}

.active-layer-label {
  -webkit-user-select: none;
  user-select: none;
}

.popup-btn {
  width: 100%;
  height: 26px;
  text-align: center;
  padding: 3px;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-top: 7px;
  transition: 0.2s;
}

.popup-btn-text {
  -webkit-user-select: none;
  user-select: none;
  margin: 0 !important;
  font-weight: 700;
}

.edit-style-popup {
  left: 20px !important;
  top: 20px;
}

#editContainer {
  top: 100px;
  left: 30%;
  position: absolute;
  display: flex;
  width: 280px;
  background-color: var(--main-bg-color, white) !important;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}

.edit-style-popup-container .section-popup .section-title,
.edit-style-popup-container .section-popup .section-item label {
  -webkit-user-select: none;
  user-select: none;
}

.edit-style-popup>.leaflet-popup-content-wrapper,
.edit-style-popup>.leaflet-popup-tip-container>.leaflet-popup-tip {
  background-color: transparent;
  box-shadow: none;
  width: fit-content;
}

#btnclose-wrapper {
  color: #676767;
  display: flex;
  align-self: flex-end;
}

div.leaflet-popup.edit-style-popup.leaflet-zoom-animated {
  position: relative;
  top: 50px;
}

.section-popup {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-title {
  position: absolute;
  align-self: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -10px;
  font-weight: bold;
  font-size: var(--group-title-fnt-size, 15px);
  margin-top: 5px;
}

.section-item {
  flex-basis: 48%;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-item-input {
  width: 95% !important;
  height: 22px;
  padding: 0;
}

.popup-parent {
  height: 0px !important;
  width: 0px !important;
}

.download-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.download-btn {
  width: 49%;
  height: 22px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn-active {
  color: rgb(0, 141, 201);
  border-color: rgb(0, 141, 201);
}

.download-btn-active:hover {
  background-color: rgb(0, 141, 201);
  color: white;
}

.download-btn-active:active {
  background-color: rgb(0, 92, 131);
  color: white;
}

.download-btn-disable {
  color: rgb(107, 109, 110);
  border-color: rgb(107, 109, 110);
}

.zoom-info-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0px;
}

.zoom-info-icon:hover svg {
  fill: var(--secondary-color);
}

.switch {
  height: 0;
  width: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked.switch+label {
  background: #37bbed;
}

input:checked.switch+label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.switch+label:active:after {
  width: 30px;
}

.switch+label {
  cursor: pointer;
  width: 40px;
  height: 25px;
  background: gray;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch+label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.hillshade+label:after {
  color: #252525;
  background-image: url("../images/mountains.webp");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.a-base-layer {
  pointer-events: none;
  cursor: default;
}

.tooltip {
  position: absolute;
  z-index: 2000;
  max-width: 30vw;
  min-width: 200px;
  max-height: 10vh;
}

.tooltiptext {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  background-color: var(--main-bg-color, white) !important;
  border: 1px solid #008dc9;
  color: #008dc9;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  white-space: pre;
  position: absolute;
  top: -20px;
  left: 220%;
  z-index: 50000;
  font-size: 14px;
  font-weight: normal;
}

.tooltiptext,
#argenmap-tooltip span,
#argenmap-tooltip span button:hover {
  color: var(--primary-color);
}

.switch:hover+label .tooltiptext {
  visibility: visible;
}

.base-layer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.base-layer-item-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.base-layer-item-info>div {
  padding-left: 10px;
}

.map-tooltip {
  background-color: #000000;
  color: #fafafa;
}

@media (max-width: 700px) {
  .zoom-info-icon {
    visibility: hidden;
  }
}

/* Control mapa base */
#basemap-selector .leaflet-control-layers-toggle:hover {
  background-color: #f4f4f4;
}

#collapseBaseMapLayers .list-group-item {
  background-color: var(--modal-bg-color);
  font-size: var(--body-fnt-size, 14px);
}

#collapseBaseMapLayers .list-group-item:hover {
  background: rgb(97, 202, 134);
  color: white;
}

#collapseBaseMapLayers .img-rounded {
  width: 50px;
  margin-right: 5px;
}

.basemap-selector .leaflet-control-layers-toggle {
  background-image: none !important;
}

.basemap-selector .leaflet-control-layers-toggle::after {
  display: inline;
  content: "\f5fd";
  font-family: "FontAwesome";
  max-height: max-content;
  font-size: 1.3em;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  line-height: 1.75em;
}

.list-inline {
  margin-bottom: 0px;
  border-radius: 6px;
}

.list-inline li {
  width: 320px;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}

.base-layer-item-info img {
  width: 50px;
  height: 40px;
}

/* Control graticula */
.leaflet-control-customgraticule {
  background-image: url(../images/grid.webp);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.leaflet-control-customgraticule:hover {
  cursor: pointer;
}

/* SideBar */
.leaflet-bottom .leaflet-control-scale {
  margin-left: 10px !important;
}

@media (max-width: 768px) {
  .leaflet-control-minimap {
    display: none;
  }
}

@media (max-width: 600px) {
  .leaflet-control {
    margin-left: 5px !important;
    margin-top: 0px !important;
  }

  div .leaflet-draw-toolbar {
    margin-top: 5px !important;
  }

  .leaflet-right .leaflet-control {
    margin-right: 10px !important;
    margin-top: 0px !important;
  }

  .leaflet-right .leaflet-control#hideBtnRight,
  .leaflet-right .leaflet-control#hideBtnLeft {
    margin-bottom: 5px !important;
  }

  .leaflet-bottom .leaflet-control-scale {
    margin-left: 5px !important;
  }
}

@media (max-height: 600px) {
  .leaflet-bottom:not(.leaflet-control-scale) {
    display: none;
  }

  .leaflet-control-scale {
    margin-left: 5px !important;
  }

  #collapseBaseMapLayers .list-group-item {
    padding: 0px !important;
  }

  #collapseBaseMapLayers {
    margin-left: 40px !important;
  }

  div .leaflet-control-geo {
    left: 34px !important;
    top: 195px !important;
    position: absolute;
  }

  div .leaflet-control-scrshot {
    left: 0px !important;
    top: 195px !important;
    position: absolute;
  }

  .leaflet-control-minimap {
    display: none;
  }

  .leaflet-control {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }

  .leaflet-control .basemap-selector {
    border: none !important;
  }

  .leaflet-draw-toolbar .leaflet-bar {
    bottom: 150px !important;
    position: relative;
  }

  div .leaflet-draw-toolbar {
    margin-top: 0px !important;
  }

  .leaflet-right .leaflet-control {
    margin-right: 0px !important;
    margin-top: 0px !important;
  }

  .leaflet-control-measure-interaction div h3 {
    font-size: var(--popup-fnt-size, 12px) !important;
  }
}

@media (max-height: 550px) {
  .leaflet-control-minimap {
    display: none;
  }

  #zoom-level {
    display: none;
  }
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  transform: scale(1);
}

/* Navbar */
#logo-navbar {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}

/* #logo-help {
  margin-right: 10px;
} */
#geoserver-login-btn {
  width: auto;
  align-self: center;
  margin-right: 25px;
}

#logo-navbar>div>a,
#logoText {
  align-self: center;
  text-align: right;
  color: var(--text-color, #fff);
  font-size: 16px;
  font-family: "Encode Sans Bold", sans-serif;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
}

/* Searcher */
::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
  line-height: 0;
}

.btn-search,
.btn-reset-layers {
  width: auto;
  margin: 2px;
  height: 36px;
}

.btn-reset-layers {
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.searchFormBtn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  border-radius: 6px;
  background-color: #ffffffbb;
  margin-bottom: 5px;
}

.formBtns {
  width: 100%;
}

#search-navbar {
  align-self: center;
}

#q.ag-input-text {
  padding: 0 0 0 10px;
}

.bx {
  font-size: x-large;
}

.bxs-pencil {
  font-size: large;
  line-height: inherit;
}
.fa-wrench {
  font-size: medium;
  line-height: inherit;
}
/* Perfil Topografico */
#pt-wrapper {
  position: absolute;
  right: 20px;
  z-index: 99999;
  display: none;
}

.pt {
  padding: 2rem;
  background: RGBA(255, 255, 255, 0.95) !important;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow:
    0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

#pt-inner {
  width: 100%;
  min-height: 400px;
}

/* Measurement Info */
#measurementWrapper {
  border-radius: 6px;
  box-shadow:
    0 2px 4px rgb(0 0 0 / 20%),
    0 -1px 0 rgb(0 0 0 / 2%);
  font-weight: bold;
  padding: 10px;
  text-align: inherit;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  z-index: 99999;
  background-color: var(--main-bg-color, white);
}

#measurementInfo {
  background-color: #d7f2f7;
  border: 1px solid #525252;
  border-radius: 4px;
  font-size: var(--body-fnt-size, 14px);
  padding: 2px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

#measurementInfo td {
  padding: 3px;
}

#measurementInfo tr:nth-child(even) {
  background-color: var(--main-bg-color, #fff);
}

/* ESRI */
#esriwrapper {
  border-radius: 8px;
  box-shadow:
    0 2px 4px rgb(0 0 0 / 20%),
    0 -1px 0 rgb(0 0 0 / 2%);
  font-weight: bold;
  padding: 10px;
  text-align: inherit;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  z-index: 99999;
}

#esriInfo {
  background-color: #d7f2f7;
  border: 1px solid #525252;
  border-radius: 4px;
  font-size: var(--body-fnt-size, 14px);
  padding: 2px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

#esriTable td {
  padding: 3px;
}

#esriTable tr:nth-child(even) {
  background-color: var(--main-bg-color, #fff);
}

/* Icons and map btns */
.leaflet-bar a,
.leaflet-bar a.leaflet-disabled {
  color: var(--map-btn-color) !important;
  background-color: var(--map-btn-bg-color);

}

.leaflet-bar a:hover {
  background-color: var(--layer-btn-hover-color);
}

.leaflet-disabled:hover {
  cursor: not-allowed !important;
}

/* ScreenShot */
#screenShoter {
  font-size: 1.3em;
}

#screenShoter :hover {
  cursor: pointer;
}

/* Special effects */
/* Spinning globe effect when hover on 'zoom to home' button */
/* @keyframes spinning-globe {
  0% {
    content: "\f57d";
  }
  30% {
    content: "\f57c";
  }
  60% {
    content: "\f57e";
  }
  100% {
    content: "\e47b";
  }
}
.fa-earth-americas:hover::before {
  font-family: "Font Awesome 6";
  content    : "\f57d";
  animation  : spinning-globe 0.5s linear infinite alternate;
  opacity    : 0.95;
} */
/* mayth4th */
/* 
@keyframes maythe4th {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.fa-earth-americas:hover::before {
  animation: unset;
  content  : "\e037";
}
.fa-earth-americas:hover::after {
  font-family: "Aurebesh Bold";
  content    : "May the 4th be with you";
  margin-left: 15px;
  font-size  : small;
  color      : #2FF924;
  opacity    : 0.7;
  line-height: 0.8;
  position   : absolute;
  animation  : maythe4th 1s linear;
}
 */
/* Lightsaber effect for SVG paths (Leaflet geometries) 
@keyframes glow {
  to {
    stroke-width: 3.3px;
    -webkit-filter: drop-shadow(0px 0px 7px #2FF924) drop-shadow(0px 0px 15px #198013);
    filter: drop-shadow(0px 0px 7px #2FF924) drop-shadow(0px 0px 15px #198013);
  }
}
.lightsaber {
  stroke: white;
  stroke-width: 3px;
  stroke-opacity: 1;
  fill: none;
  -webkit-filter: drop-shadow(0px 0px 4px #2FF924) drop-shadow(0px 0px 15px #198013);
  filter: drop-shadow(0px 0px 4px #2FF924) drop-shadow(0px 0px 15px #198013);
  animation: glow 0.1s ease-in-out infinite alternate;
}*/
/* .individualFeature > ul > li {
    padding: 0 10px;
}
.individualFeature > ul > li:nth-child(2n) {
  background-color: #e7e5e5;
}
.individualFeature > ul > li > b {
  text-align: left;
  margin-right: 10px;
}
.individualFeature > ul > li > span {
  float: right;
} */